.navbar-custom {
  background-color: #54ab5d;
  border-color: #54ab5d;
}

.navbar-custom .navbar-brand {
  color: #f8f8f8;
}

.navbar-custom .navbar-nav > li > a {
  color: #f8f8f8;
}
.navbar-custom .navbar-nav > li > a:hover {
  background-color: #4b9853;
}

.navbar-custom .navbar-nav > li > a:focus {
  background-color: #83c686;
}

.center {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.margin-right-n-60{
  margin-right: -60px;
}

.m-r-n-90{
  margin-right: -90px;
}

.popup{
  right:auto;
}

.popup img{
  border-radius: 50%;
  width:60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}